world/
TombManyGraves/
journeymap/
crash-reports/
logs/
libraries/
local/
usercache.json
usernamecache.json
restart

/config/InvTweaksTree.txt.bak
/saves
/screenshots
/realms_persistence.json
/servers.dat
/BotaniaVars.dat
/modlist.html
/options.txt
/*.jar
/mods/ImmersiveEngineering-*-core.jar
